@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  text-decoration: none;
}
body {
  color: #1b1b1b;
  background-color: #f8f9fa;
}

.sidebar {
  width: 325px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 101;
  background-image: url(../image/2.png);
  background-position: bottom center;
  background-size: cover;
  transition: width 250ms;
}

.sidebar-brand {
  padding-left: 1rem;
  padding-top: 0.5rem;
}
.sidebar .sidebar-brand img {
  width: 60px;
  height: 75px;
}
.sidebar .sidebar-brand h3 span {
  color: #4cadad;
  font-weight: 700;
}
.sidebar-menu {
  margin-top: 3rem;
}
.sidebar-menu li {
  width: 100%;
  margin-bottom: 1.2rem;
  padding-left: 1rem;
}
.sidebar-menu a {
  display: block;
  font-size: 1.1rem;
  color: #1b1b1b;
}
.sidebar-menu a span:first-child {
  padding-right: 1rem;
  padding-left: 1rem;
}
.sidebar-menu a#active {
  background-color: #f8f9fa;
  color: #4cadad;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 50px 0 0 50px;
}

.sidebar-menu .active {
  background-color: #f8f9fa;
  color: #4cadad;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 50px 0 0 50px;
}

#nav-toggel {
  display: none;
}
#nav-toggel:checked + .sidebar {
  width: 80px;
}
#nav-toggel:checked + .sidebar .sidebar-brand,
#nav-toggel:checked + .sidebar li {
  padding-left: 0;
}
#nav-toggel:checked + .sidebar .sidebar-brand h3,
#nav-toggel:checked + .sidebar li a {
  text-align: center;
}
#nav-toggel:checked + .sidebar .sidebar-brand h3 span:last-child,
#nav-toggel:checked + .sidebar li a span:last-child {
  display: none;
}
#nav-toggel:checked ~ .main-content {
  margin-left: 90px;
}
#nav-toggel:checked ~ .main-content header {
  width: calc(100% - 140px);
  left: 110px;
}
.main-content {
  transition: margin-left 250ms;
  margin-left: 325px;
}
header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 1rem 1.5rem;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(189, 189, 189, 0.5);
  -moz-box-shadow: 0px 0px 10px 3px rgba(189, 189, 189, 0.5);
  box-shadow: 0px 0px 10px 3 px rgba(189, 189, 189, 0.5);
  position: fixed;
  left: 350px;
  top: 0;
  width: calc(100% - 375px);
  z-index: 100;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  transition: left 250ms;
}
header label span {
  font-size: 1.7rem;
  padding-right: 1rem;
}
header h4 {
  padding-top: 10px;
  margin-bottom: 0px;
  font-size: 1.6rem;
}
.search-wrapper {
  border: 1px solid #f0f0f0;
  border-radius: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  box-shadow: 0px 0px 5px 0px rgba(189, 189, 189, 0.5);
}
.search-wrapper span {
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.4rem;
  color: #3c3c3c;
  font-weight: 100;
}
.search-wrapper input {
  height: 100%;
  padding: 0.5px;
  border: none;
  outline: none;
  background-color: transparent;
}
.user-wrapper {
  display: flex;
  align-items: center;
}
.user-wrapper img {
  border-radius: 50%;
  margin-right: 0.5rem;
}
.user-wrapper h6 {
  margin-bottom: 0;
  margin-top: 5px;
}
.user-wrapper small {
  color: grey;
}

main {
  margin-top: 85px;
  padding: 2rem 1.5rem;
  min-height: calc(100vh - 85px);
}
.filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #fafafa;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(189, 189, 189, 0.5);
  padding: 1rem;
}
.filter-wrapper .filter {
  width: 19%;
  display: block;
}
.filter-wrapper .filter label {
  font-size: 14px;
  color: gray;
  font-weight: 600;
}
.filter-wrapper .btn {
  width: 100%;
  margin-top: 0.4rem;
}
.table-content .fa {
  color: #7b7b7b;
  font-size: 22px;
}
.table-content td {
  padding: 0.5rem;
}
.table-content td img {
  border-radius: 50%;
  margin-right: 0.5rem;
}
.table-content td span:last-child {
  font-weight: 600;
}
.table-content th:nth-child(2) {
  width: 25%;
}
.table-content th:nth-child(2),
.table-content th:nth-child(3),
.table-content th:nth-child(4),
.table-content th:nth-child(5),
.table-content th:nth-child(6) {
  width: 22%;
}
.table-content td:first-child,
.table-content th:first-child {
  padding: 10px;
}
.table-content td:first-child {
  padding-top: 1.4rem;
}
.table-content td:nth-child(3),
.table-content td:nth-child(4),
.table-content td:nth-child(5),
.table-content td:nth-child(6),
.table-content td:nth-child(7) {
  padding-top: 1.4rem;
}

/*Responsive*/

@media only screen and (max-width: 1200px) {
  .search-wrapper {
    display: none;
  }
  .sidebar {
    left: -100% !important;
  }
  header h4 {
    display: flex;
    align-items: center;
    padding: 0;
  }
  header h4 label {
    padding-top: 0;
    display: inline-block;
    background: #4cadad;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }
  header h4 .name {
    padding-left: 1rem;
    padding-top: -10px;
  }
  header h4 label .fa {
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    padding-left: 0.75rem;
    padding-top: 0.75rem;
  }
  .main-content {
    width: 100%;
    margin-left: 0rem;
  }
  .main-content header {
    width: 100%;
    left: 0px;
    border-radius: 0;
  }
  #nav-toggel:checked + .sidebar {
    left: 0 !important;
    z-index: 100;
    width: 275px;
  }
  .sidebar:hover {
    width: 325px;
    z-index: 200;
  }
  #nav-toggel:checked + .sidebar .sidebar-brand,
  #nav-toggel:checked + .sidebar .sidebar:hover li {
    padding-left: 1rem;
  }
  #nav-toggel:checked + .sidebar .sidebar-brand h3,
  #nav-toggel:checked + .sidebar li a {
    text-align: left;
  }
  #nav-toggel:checked + .sidebar .sidebar-brand h3 span:last-child,
  #nav-toggel:checked + .sidebar li a span:last-child {
    display: inline;
  }

  #nav-toggel:checked + .main-content {
    margin-left: 0rem;
  }
  #nav-toggel:checked ~ .main-content header {
    width: 100%;
    left: 0;
  }
}

@media only screen and (max-width: 980px) {
  header {
    padding: 0.75rem;
  }
  header h4 {
    font-size: 1.3rem;
  }
  .user-wrapper div {
    display: none;
  }
  .filter-wrapper .filter {
    width: 48%;
    display: block;
    margin-bottom: 10px;
  }

  .filter-wrapper .fil-btn {
    width: 96%;
    display: block;
    margin: auto;
  }
}

@media only screen and (max-width: 600px) {
  .filter-wrapper .filter {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .filter-wrapper label {
    width: 25%;
    margin-top: 0.75rem;
  }
}
